.container {
  max-width: 2000px;
  height: 100vh;
  margin: auto;
  background-color: rgba(236, 236, 236, 0.651);
}

.form-div {
  width: 50%;
  max-width: 1000px;
}

@media screen and (max-width: 772px) {
  .form-div {
    width: 80%;
  }
}

@media screen and (max-width: 414px) {
  .form-div {
    width: 90%;
  }

  .error_msg {
    width: 100vw;
    margin-bottom: 3rem;
    height: 2rem;
  }
}
